@main(selectedTab = "stats") {

  <section id="stats">

    <div class="row">
      <div class="span4">
        <div class="well well-small">
          Requests
        </div>
        <div id="stats-requests"></div>
      </div>
      <div class="span4">
        <div class="well well-small">
          Users
        </div>
        <div id="stats-users"></div>
      </div>
      <div class="span4">
        <div class="well well-small">
          Apps
        </div>
        <div id="stats-apps"></div>
      </div>
    </div>

  </section>

}
