@main(selectedTab = "stats") {

  <section id="stats">

    <div class="row">
      <div id="stats-requests" class="span4">
        <div class="well well-small">
          <div class="floatL">Requests</div>
          <div class="floatR js-loading" style="display:none"><img src="@routes.Assets.at("images/loading.gif")" /></div>
        </div>
        <div class="js-stats-content"></div>
      </div>
      <div id="stats-users" class="span4">
        <div class="well well-small">
          <div class="floatL">Users</div>
          <div class="floatR js-loading" style="display:none"><img src="@routes.Assets.at("images/loading.gif")" /></div>
        </div>
        <div class="js-stats-content"></div>
      </div>
      <div id="stats-apps" class="span4">
        <div class="well well-small">
          <div class="floatL">Apps</div>
          <div class="floatR js-loading" style="display:none"><img src="@routes.Assets.at("images/loading.gif")" /></div>
        </div>
        <div class="js-stats-content"></div>
      </div>
    </div>

    <div class="row">
      <div id="stats-random-messages" class="span4">
        <div class="well well-small">
          <div class="floatL">Random Messages</div>
          <div class="floatR js-loading" style="display:none"><img src="@routes.Assets.at("images/loading.gif")" /></div>
        </div>
        <div class="js-stats-content"></div>
      </div>
      <div id="stats-best-messages" class="span4">
        <div class="well well-small">
          <div class="floatL">Best Messages</div>
          <div class="floatR js-loading" style="display:none"><img src="@routes.Assets.at("images/loading.gif")" /></div>
        </div>
        <div class="js-stats-content"></div>
      </div>
      <div id="stats-worst-messages" class="span4">
        <div class="well well-small">
          <div class="floatL">Worst Messages</div>
          <div class="floatR js-loading" style="display:none"><img src="@routes.Assets.at("images/loading.gif")" /></div>
        </div>
        <div class="js-stats-content"></div>
      </div>
    </div>

  </section>

}
