@(
  lastHourRequests: Long,
  lastDayRequests: Long,
  lastWeekRequests: Long,
  lastMonthRequests: Long,
  lastYearRequests: Long
)
  <div>

    <table class="table table-condensed">
      <tr>
        <td>Last hour requests:</td>
        <td>@lastHourRequests</td>
      </tr>
      <tr>
        <td>Last day requests:</td>
        <td>@lastDayRequests</td>
      </tr>
      <tr>
        <td>Last week requests:</td>
        <td>@lastWeekRequests</td>
      </tr>
      <tr>
        <td>Last month requests:</td>
        <td>@lastMonthRequests</td>
      </tr>
      <tr>
        <td>Last year requests:</td>
        <td>@lastYearRequests</td>
      </tr>
    </table>

  </div>
